body{
background: #3c6f82;
}
div#header-logo{
background:url(images/pingshots/logo-dark.png) no-repeat;
}
#top-stats{
color: #eaeaea;
}
#top-stats a{
color: #5e878d;

}
#top-stats a:hover{
color: #70a1a8;
}
#top-stats .sub-brown{
color: white;
}
#side-menu-container li.side-main{
background: url(images/pingshots/side-main-item.png) no-repeat;
}
#side-menu-container ul li{
background: url(images/pingshots/side-sub-item.png) no-repeat;
}
#top-tabs{
margin-top: -17px;
}
#top-tabs span a{
background: url(images/pingshots/top-tab.png) no-repeat;
color: #ebebeb;
}
#top-tabs span a.active-tab{
background: url(images/pingshots/top-tab-active.png) no-repeat;
color: #25211b;
}
#top-tabs span a:hover{
background: url(images/pingshots/top-tab-active.png) no-repeat;
color: #25211b;
}




